html {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 215, 161);
  border: 1px solid black ;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

li {
  text-align: center;
  list-style-type: none;
  padding: 5px;
}
