html {
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(252, 215, 161);
  border: 2px solid black;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

li {
  list-style-type: none;
  padding: 3px 0px;
}

.border_big {
  border: 1px solid black;
}